@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --main-bg-clr: hsl(212, 45%, 89%);
  --card-bg-clr: hsl(0, 0%, 100%);
  --card-title-clr: hsl(218, 44%, 22%);
  --card-text-clr: hsl(216, 15%, 48%);
  --attribution-text-clr: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

body {
  background-color: var(--main-bg-clr);

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

img {
  border-radius: 0.75rem;
  height: auto;
  width: 100%;
}

footer {
  margin-block-end: 0.5rem;
}

.card {
  background-color: var(--card-bg-clr);
  border-radius: 1.25rem;
  padding: 1rem;
  text-align: center;
  width: 320px;
}

.card-content {
  padding: 1.25rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-title {
  color: var(--card-title-clr);
  font-weight: 700;
}

.card-description {
  color: var(--card-text-clr);
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: var(--attribution-text-clr);
}

/* Main margin only needed on small screens — remove it above 400px */
@media only screen and (min-width: 25rem) {
  main {
    margin: 0;
  }

  .card-description {
    margin: 0 0.45rem;
  }
}
